.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  text-align: left;
  flex-direction: column; /* Default to column layout for smaller screens */
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  flex-direction: column; /* Default to column layout for smaller screens */
}

.about-image {
  flex: 1; /* Increase the flex value to expand the image */
  padding-left: 0rem;
  padding-right: 2rem;
  margin-bottom: 2rem; /* Add margin to separate image and text on smaller screens */
  text-align: center; /* Center align the image for smaller screens */
}

.about-image img {
  width: 75%;
  height: auto;
  border-radius: 8px;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.about-text {
  flex: 1;
  text-align: left;
  padding-right: 4rem;
  width: 100%;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.about-text .first {
  font-size: 65px;
  color: #0592c8;
}

.about-text .subtitle {
  margin-top: -10px;
  font-size: 65px;
}

.about-text p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-text .readmore-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: #0592c8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.about-text .readmore-btn:hover {
  background: #014c59;
}

/* Responsive styles */
@media (min-width: 768px) {
  .about-content {
      flex-direction: row; /* Row layout for larger screens */
  }

  .about-text {
      padding: 1rem; /* Adjust padding for larger screens */
  }

  .about-text {
      padding-right: 4rem;
  }

}

@media (max-width: 768px) {
  .about {
      padding: 1rem; /* Adjust padding for smaller screens */
  }

  .about-content {
      flex-direction: column; /* Column layout for smaller screens */
  }

  .about-image {
      padding: 0; /* Remove padding for smaller screens */
      text-align: center; /* Center align the image for smaller screens */
  }

  .about-image img {
      width: 70%; /* Make image full width on smaller screens */
      height: auto; /* Maintain aspect ratio */
  }

  .about-text {
      margin-top: -10rem;
      padding: 0; /* Remove padding for smaller screens */
      text-align: center; /* Center align text for smaller screens */
  }

  .about-text h2 {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .about-text .first, .about-text .subtitle {
      font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .about-text p {
      font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .about-text .readmore-btn {
      font-size: 0.875rem; /* Adjust font size for button */
      padding: 0.75rem 1.5rem; /* Adjust padding for button */
  }
}
