/* Base styles */
.client-carousel-section {
  text-align: center;
  padding: 50px 20px;
}

.client-logo-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust height as needed */
}

.client-logo {
  max-width: 100px;
  max-height: 120px;
  object-fit: contain;
}

.line-testi {
  width: 6%;
  border-top: 2px solid #0592c8;
  margin: 2rem auto 1rem;
}

.header-test {
  margin-bottom: 7rem;
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .header-test {
      font-size: 2rem;
      margin-bottom: 5rem;
  }

  .line-testi {
      width: 8%;
  }

  .client-logo {
      max-width: 80px;
      max-height: 100px;
  }
}

@media (max-width: 992px) {
  .header-test {
      font-size: 1.8rem;
      margin-bottom: 4rem;
  }

  .line-testi {
      width: 10%;
  }

  .client-logo {
      max-width: 70px;
      max-height: 90px;
      margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .header-test {
      font-size: 1.6rem;
      margin-bottom: 3rem;
  }

  .line-testi {
      width: 12%;
  }

  .client-logo {
      max-width: 60px;
      max-height: 80px;
      margin-left: 3rem;
  }
}

@media (max-width: 576px) {
  .header-test {
      font-size: 1.4rem;
      margin-bottom: 2rem;
  }

  .line-testi {
      width: 14%;
  }

  .client-logo {
      max-width: 50px;
      max-height: 70px;
      margin-left: 4rem;
  }
}

@media (max-width: 400px) {
  .header-test {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
  }

  .line-testi {
      width: 16%;
  }

  .client-logo {
      max-width: 40px;
      max-height: 60px;
      margin-left: 7rem;
  }
}
