.lifecycle {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.line-service {
    width: 25%;
    border-top: 2px solid #0592c8;
    margin: 2rem auto;
}

.Header-service {
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
}

.circle {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 0;
    padding-bottom: 100%; /* Maintain aspect ratio */
    border-radius: 100%;
    background-image: url('/Synergy/Web/synergy-admin/synergy-admin/frontend/src/client/images/Synergy_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5rem;
}

.service {
    position: absolute;
    width: 400px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.service.active {
    opacity: 1;
}

.service img {
    width: 80px;
    height: auto;
    margin-right: 1rem;
    z-index: 2;
}

.service-content {
    position: relative;
}

.service h3 {
    color: #0592c8;
    margin-bottom: 0.5rem;
    font-size: 40px;
    opacity: 70%;
    position: relative;
    z-index: 1;
}

.service h3::first-letter {
    color: black;
    font-size: 55px;
    position: relative;
    margin-left: -20px;
    z-index: -1;
}

.service p {
    color: #333;
    font-size: 18px;
    text-align: left;
}

.consulting {
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.designing {
    top: 52%;
    right: 15%;
    transform: translate(50%, -50%);
}

.contracting {
    bottom: 30%;
    left: 15%;
    transform: translate(-50%, 50%);
}

.line1 {
    align-items: center;
    width: 5%;
    border-top: 2px solid #0592c8;
}

.final-text {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 1rem;
    font-size: 25px;
    margin-bottom: 2rem;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .circle {
        width: 80%;
        padding-bottom: 80%; /* Maintain aspect ratio */
    }

    .service {
        width: 150px;
    }

    .service img {
        width: 60px;
    }

    .service h3 {
        font-size: 25px;
    }

    .service p {
        font-size: 13px;
    }

    .consulting {
        top: 25%;
    }

    .designing {
        top: 65%;
        right: 20%;
    }

    .contracting {
        bottom: 25%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    .circle {
        width: 90%;
        padding-bottom: 90%;
        margin-bottom: 3rem;
    }

    .service {
        width: 290px;
    }

    .service img {
        width: 50px;
    }

    .service h3 {
        font-size: 20px;
    }

    .service h3::first-letter {
        font-size: 35px;
    }

    .service p {
        font-size: 12px;
    }

    .consulting {
        top: 20%;
        left: 45%;
    }

    .designing {
        top: 55%;
        right: 25%;
    }

    .contracting {
        bottom: 20%;
        left: 25%;
    }
}

@media (max-width: 480px) {
    .circle {
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 2rem;
    }

    .service {
        width: 200px;
    }

    .service img {
        width: 40px;
    }

    .service h3 {
        font-size: 15px;
    }

    .service p {
        font-size: 10px;
    }

    .consulting {
        top: 35%;
    }

    .designing {
        top: 75%;
        right: 30%;
    }

    .contracting {
        bottom: 35%;
        left: 30%;
    }
}
