@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --main-color: #47acc9;
  --white: #ffffff;
  --whitesmoke: rgb(231, 231, 231);
  --grey: #acacac;
  --black: #424242;
  --yellow: rgb(235, 199, 0);
  --bg: #fafafa;
  --bg-blue: #82daff;
  --aqua: #00b4ff;
  --link: #0690c9;
  --red: rgb(255, 59, 59);
  --border: 2px solid var(--grey);
  --border-invalid: 2px solid rgb(255, 106, 106);
  --border-valid: 2px solid rgb(0, 255, 34);
  --border-focus: 2px solid #0690c9;
  --box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Arming-Grotesk";
  src: url("../../fonts/Arming-Grotesk/Fontspring-DEMO-armingrotesk-regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  background-color: var(--white);
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
}

a {
  color: var(--black);
}

#section {
  max-width: 1200px;
  padding: 2.2rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.page-layout .add-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-layout .add-items h1 {
  text-align: left;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.2rem;
  gap: 1rem;
  border-radius: 8px;
  background-color: var(--white);
  border: var(--border);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  max-width: 60rem;
  z-index: 1;
}

.form-container .input-image-container {
  width: 100%;
}

.form-container .input-image-container .image {
  display: none;
}

.form-container .input-box-container {
  width: 49%;
  max-height: 80px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container .title {
  margin-right: 0.2rem;
}

.title-container .required {
  color: var(--red);
  margin-right: 1rem;
}

.error-message {
  color: var(--red);
  font-size: 0.875rem;
  margin-top: 0.2rem;
  text-align: end;
}

.input-box.invalid,
.input-area.invalid {
  border: var(--border-invalid);
}

.input-box.valid,
.input-area.valid {
  border: var(--border-valid);
}

.input-box {
  width: 100%;
  height: 3rem;
  border: var(--border);
  border-radius: 8px;
  position: relative;
  margin: 0.5rem 0;
}

.input-box-container .input-box:focus-within {
  border: var(--border-focus);
}

.input-box input {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 1rem;
  color: var(--black);
}

.input-box select {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 1rem;
  color: var(--black);
  line-height: 1.5;
  appearance: none;
  overflow: hidden;
}

.input-box option {
  width: 50%;
  color: var(--bg-blue);
  padding-left: 0;
  overflow: hidden;
}

.form-container .input-area-container {
  width: 100%;
  height: 100%;
}

.input-area-container .input-area:focus-within {
  border: var(--border-focus);
}

.input-area {
  width: 100%;
  height: 6rem;
  border: var(--border);
  border-radius: 8px;
  position: relative;
  margin: 0.5rem 0;
  overflow: hidden;
}

.input-area textarea {
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--black);
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.btn {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  background-color: var(--link);
  color: var(--white);
  border-radius: 8px;
  border: var(--border-focus);
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

.add-btn {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  background-color: var(--link);
  color: var(--white);
  border-radius: 8px;
  border: var(--border-focus);
  cursor: pointer;
  width: 30%;
  transition: 0.3s ease;
}

.btn:hover,
.add-btn:hover {
  background-color: var(--aqua);
  border: 2px solid var(--aqua);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 2rem;
  width: 20rem;
  border-radius: 40px;
  overflow: hidden;
  font-size: 1.3rem;
}

.search-icon {
  margin: 0 0 0 0.8rem;
}

.search-bar {
  background-color: #f0f0f0;
  padding: 0.8rem 0.8rem;
  width: 100%;
  font-size: 1rem;
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="18" height="18" fill="black"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>')
    no-repeat center center;
  cursor: pointer;
}

.small-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  background-color: var(--link);
  color: var(--white);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.small-btn:hover {
  background-color: var(--aqua);
}

.small-btn-icon {
  font-size: 1.6rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 804px) {
  .form-container .input-box-container {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .form-container .input-box-container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .add-btn {
    width: 100%;
  }

  .page-layout .form-container {
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .search-container {
    margin-bottom: 1rem;
  }

  .small-btn {
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  #section {
    padding: 1rem;
  }
}
