.tbl {
  width: 100%;
  border-spacing: 0;
}

.tbl th {
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 1rem 0.5rem;
  text-align: left;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.hd-id {
  width: 5%;
}

.hd-image {
  width: 10%;
}

.hd-name {
  width: 35%;
}

.tbl td {
  font-size: 1rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--grey);
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-cell {
  width: 100px;
  height: 100px;
}

.image {
  object-fit: contain;
  max-width: 100%; /* Make sure the image fits within its container */
  max-height: 100%;
}

.description-cell {
  white-space: nowrap;
  max-width: 30rem;
}

.tbl-icon {
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0.5rem;
}

.tbl-icon:nth-child(1):hover {
  color: var(--yellow);
}

.tbl-icon:nth-child(2):hover {
  color: var(--red);
}

#menu-container {
  position: relative;
  overflow: visible;
  width: 5%;
  text-align: right;
}

.menu-icon {
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 1.1rem;
  position: relative;
}

.menu-icon:hover {
  color: var(--main-color);
}

.popup-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  right: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup-menu button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  text-align: left;
}

.popup-menu button:nth-child(1) {
  margin-bottom: 5px;
}

.popup-menu button:nth-child(1):hover {
  color: var(--white);
  background-color: var(--aqua);
}

.popup-menu button:nth-child(2):hover {
  color: var(--white);
  background-color: var(--red);
}

@media (max-width: 768px) {
  .hd-location,
  .location-cell {
    display: none;
  }
}

@media (max-width: 640px) {
  .hd-year,
  .year-cell {
    display: none;
  }
}

@media (max-width: 450px) {
  .hd-image,
  .image-cell {
    display: none;
  }
}
