.animated-section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slideInFromLeft {
    animation: slideInFromLeft 1s forwards;
}

.slideInFromRight {
    animation: slideInFromRight 1s forwards;
}

.slideInFromBottom {
    animation: slideInFromBottom 1s forwards;
}

.slideInFromTop {
    animation: slideInFromTop 1s forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
