:root {
    --footer-padding: 2.5rem 4rem;
    --footer-top-margin: 1.25rem;
    --logo-width: 12rem;
    --font-size-base: 1rem;
    --font-size-header: 1.7rem;
    --icon-size: 2.1875rem;
    --input-padding: 0.625rem;
    --button-padding: 0.625rem;
    --button-size: 0.9375rem;
    --glow-color: #0592c8;
}

.footer {
    background-color: black;
    color: #fff;
    padding: var(--footer-padding);
}

.footer-top {
    text-align: center;
    margin-bottom: var(--footer-top-margin);
}

.footer-logo {
    width: var(--logo-width);
}

.company-text {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
}

.line-footer {
    width: 100%;
    border-top: 1px solid #014c59;
    margin: 2rem auto 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quick-links, .contact-info-footer, .newsletter {
    flex: 1;
    min-width: 12.5rem;
    margin: 0.625rem;
}

.quick-links h3, .contact-info-footer h3, .newsletter h3 {
    font-size: var(--font-size-header);
    margin-bottom: 0.625rem;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 0.5rem;
}

.quick-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.quick-links ul li a:hover {
    color: #0592c8;
}

.contact-info-footer .contact-info-content {
    font-size: var(--font-size-base);
}

.contact-info-footer .contact-info-content p {
    margin: 0.7rem 0;
}

.footer-email-link, .footer-address-link {
    font-size: var(--font-size-base);
    color: #0592c8;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
}

.contact-info-footer .social-icons-footer {
    display: flex;
    justify-content: center;  /* Center horizontally */
    margin-top: 3rem;
}

.contact-info-footer .social-icons-footer a {
    color: #fff;
    margin-right: 2rem;
    transition: color 0.3s;
}

.contact-info-footer .social-icons-footer a:hover {
    color: var(--glow-color); /* Glowing icon color */
    filter: drop-shadow(0 0 10px var(--glow-color));
}

.newsletter p {
    font-size: var(--font-size-base);
    margin-bottom: 0.625rem;
}

.newsletter-form {
    display: flex;
}

.newsletter-form input {
    flex: 1;
    padding: var(--input-padding);
    border: none;
    border-radius: 0.3125rem 0 0 0.3125rem;
    font-size: var(--font-size-base);
}

.newsletter-form button {
    padding: var(--button-padding);
    border: none;
    background-color: #0592c8;
    color: #fff;
    cursor: pointer;
    border-radius: 0 0.3125rem 0.3125rem 0;
    transition: background-color 0.3s;
    font-size: var(--button-size);
}

.newsletter-form button:hover {
    background-color: #014c59;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: var(--font-size-base);
    border-top: 1px solid #014c59;
    padding-top: 1rem;
}

/* Responsive styles */
@media (max-width: 48rem) {
    .footer {
        padding: 1rem 2rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center; /* Center align for better layout */
    }

    .quick-links, .contact-info-footer, .newsletter {
        margin: 1rem 0;
        min-width: 100%; /* Full width for smaller screens */
        text-align: center; /* Center align text for better layout */
    }

    .quick-links ul {
        padding-left: 0;
    }

    .quick-links ul li {
        margin-bottom: 0.5rem;
    }

    .quick-links ul li a {
        font-size: var(--font-size-base);
    }

    .contact-info-footer .contact-info-content p, 
    .newsletter p {
        font-size: var(--font-size-base);
    }

    .newsletter-form {
        flex-direction: column; /* Stack input and button vertically */
        align-items: stretch; /* Full width input and button */
    }

    .newsletter-form input,
    .newsletter-form button {
        border-radius: 0.3125rem;
        margin-bottom: 0.5rem; /* Add margin between input and button */
    }

    .footer-bottom {
        margin-top: 1rem;
        padding-top: 1rem;
    }
}
