.header-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: linear-gradient(to right, #023043, #0690c9);
  color: white;
  opacity: 0; /* Start hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  animation: slide-in 1s forwards; /* Trigger animation */
  flex-direction: column; /* Stack items vertically on small screens */
}

.header-left {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; /* Space between logo and toggle button */
}

.logo-header-client {
  width: 100px; /* Adjust the logo size as needed */
  transform-origin: center; /* Rotate around the center */
  animation: rotate-logo 1s linear 0s 3; /* Rotate 3 times and then stop */
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.nav-links {
  display: none; /* Hidden by default */
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  transition: display 0.3s ease;
}

.nav-links.active {
  display: flex; /* Show when the menu is open */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 22px;
  transition: color 0.3s ease, font-weight 0.3s ease;
  margin: 0.5rem 0;
}

.nav-links a.active {
  font-weight: bold;
}

.nav-links a:hover {
  color: #000000;
}

.quote-button {
  display: flex;
  white-space: nowrap;
  font-size: 1.1rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quote-button:hover {
  background-color: #000000;
  color: white;
}

/* Animation keyframes */
@keyframes slide-in {
  to {
    opacity: 1; /* End visible */
    transform: translateX(0); /* End in place */
  }
}

/* Rotate logo animation keyframes */
@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive styles */
@media (min-width: 769px) {
  .header-client {
    flex-direction: row; /* Horizontal layout for larger screens */
  }

  .header-left {
    justify-content: flex-start; /* Align logo and toggle button to the left */
  }

  .nav-links {
    display: flex; /* Display flex on larger screens */
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    justify-content: flex-end; /* Align items to the right */
    gap: 3rem; /* Reduce gap between navigation links */
    margin-left: auto; /* Push nav links to the right */
  }

  .nav-links a {
    margin: 0;
  }

  .quote-button {
    margin-left: 1rem; /* Adjust margin to align the button properly */
  }

  .menu-toggle {
    display: none; /* Hide menu toggle on larger screens */
  }
}
