.services-page {
  font-family: Arial, sans-serif;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-image {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.hero-text {
  position: absolute;
  text-align: left;
  color: white;
  padding-right: 200px;
  max-width: 600px; /* Adjust max-width as needed */
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: black;
}

.hero-text .highlight {
  color: #0592c8; 
  font-size: 4rem;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: black;
  font-weight: 500;
}

/* Responsive styling */
/* Large screens (desktops) */
@media (min-width: 992px) {
  .hero-section {
    height: 500px;
  }
}

/* Medium screens (tablets) */
@media (max-width: 991px) {
  .hero-section {
    height: 450px;
  }

  .hero-text {
    padding-right: 100px;
    max-width: 80%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text .highlight {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }
}

/* Small screens (phones) */
@media (max-width: 576px) {
  .hero-section {
    height: 300px;
  }

  .hero-text {
    padding-right: 20px;
    max-width: 90%;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text .highlight {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }
}
